<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WOW</title>
  <link href="https://s3.amazonaws.com/ga-patterns/css/ga-patterns-latest.min.css" rel="stylesheet" />

</head>
<body>
  <main role="main" class="main-content">
    <div class="g-row">
      <div class="g-column">
        <%- body %>
      </div>
    </div>
  </main>
</body>
</html>